/* nastaveni tela stranky*/
h1 {
  color: red;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../img/program.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(121, 109, 109, 0.7), rgba(224, 217, 217, 0.7)), url("../img/program.jpg");
}
/* nastaveni zahlavi*/
header {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 0.8;
  width: 1200px;
  margin: 50px auto;
  border-radius: 10px;
}
header h1 {
  font-size: 3em;
}
h3 {
  text-align: center;

  
}
header p {
  font-size: 2em;
}
/* nastaveni hlavni casti */
main {
  background-color: rgb(255, 255, 255);
  width: 1200px;
  margin: 50px auto;
  background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  border-radius: 10px;
}

/* nastaveni flexboxu */
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-container div{
 /* background: linear-gradient(to top, rgba(255, 0, 0, 1), rgb(255, 208, 0, 1)); */
  background: linear-gradient(to top, rgb(41, 116, 255), rgb(52, 181, 255)); 
  padding: 20px;
  margin: 20px;
  flex: 25%;
  border-radius: 4px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  
  
}

/* responsive design */
@media screen and (max-width: 1200px) {
  main {
    width: 90%;
  }


.flex-container{
  flex-direction: column;
}
}
h2 {
  text-align: center;
  padding-top: 35px;
}
li::marker {
  content: "👉";
  
}




/*vyjizdejici odkazy*/



/* Style the links inside the sidenav */
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -150px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 150px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  margin-top: 25px;
  text-align: center;
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#about {
  top: 20px;
  /*background-color: #a10000;*/
  background: linear-gradient(to right, #0071ce, #003fc7);
}

#blog {
  top: 80px;
  /*background-color: #008caf;*/ 
  /*background: linear-gradient(to right, #c0b40e, #a51010);*/
  background: linear-gradient(to right, #d1d1d1, #000000);
}

#projects {
  
  top: 140px;
  /*background-color: #dfc90b; */
  background: linear-gradient(to right, #444444, #227710);
}

